<div>
  {{rate}}
  {{view "select"
          content=endpoints
          optionLabelPath="content.englishName"
          optionValuePath="content.url"
          selection=selectedEndpoint
          prompt="Endpoint"
  }}
  {{selectedEndpoint.url}}
  <ul>
    {{#each endpoints as |endpoint|}}
      {{endpoint-row content=endpoint }}
    {{/each}}
  </ul>
</div>

