<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="endpoints">Github Browser</a>
  <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="endpoints"> Remaining Requests:
      <span class="label label-danger">{{rate}}</span>
    </a></li>
  </ul>
</nav>

<div>
  {{#each endpoints as |endpoint| }}
    {{endpoint-row onGetUrl=getUrl content=endpoint}}
  {{/each}}
</div>

